@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
.button1 {
  width: 300px;
}
.button2 {
  width: 300px;
}
.hometext {
  font-family: "Roboto Slab", serif;
  margin-top: 50px;
}
.homeimage {
  width: 250px;
}
.marginhome {
  margin-top: 200px;
}
.registergambar {
  margin-top: 120px;
  width: 250px;
  margin-left: 200px;
}
.Login {
  width: 250px;
}
.login {
  margin-top: 100px;
}
.card-img-top {
  border-radius: 50%;
  margin-left: 200px;
  width: 300px;
}
.bmw {
  width: 150px;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* Category Ads */
#ads {
  margin: 30px 0 30px 0;
}
#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  background: #b4f7f6;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
}
#ads .card-notify-year {
  position: absolute;
  right: -10px;
  top: -20px;
  background: #ff4444;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
}
#ads .card-detail-badge {
  background: #b4f7f6;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
}
#ads .card:hover {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 4px;
  transition: all 0.3s ease;
}
#ads .card-image-overlay {
  font-size: 20px;
}
#ads .card-image-overlay span {
  display: inline-block;
}
#ads .ad-btn {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border: 3px solid #b4f7f6;
  display: block;
  text-decoration: none;
  margin: 20px auto 1px auto;
  color: #000;
  overflow: hidden;
  position: relative;
  background-color: #b4f7f6;
}
#ads .ad-btn:hover {
  background-color: #b4f7f6;
  color: #1e1717;
  border: 2px solid #b4f7f6;
  background: transparent;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}
#ads .ad-title h5 {
  text-transform: uppercase;
  font-size: 18px;
}
.edit_barang {
  width: 338px;
  height: 207.617px;
}
.big {
  width: 750px;
  height: 500px;
}
.kecil {
  width: 500px;
  height: 300px;
}
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display: block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.cart {
  width: 35px;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.body1 {
  padding: 0;
  margin: 0;
}
#notfound {
  position: relative;
  height: 100vh;
}
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notfound {
  max-width: 710px;
  width: 100%;
  padding-left: 190px;
  line-height: 1.4;
}
.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 150px;
}
.notfound .notfound-404 h1 {
  font-family: "Passion One", cursive;
  color: #00b5c3;
  font-size: 150px;
  letter-spacing: 15.5px;
  margin: 0px;
  font-weight: 900;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notfound h2 {
  font-family: "Raleway", sans-serif;
  color: #292929;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-top: 0;
}
.notfound p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
}
.notfound a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #292929;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.notfound a:hover {
  color: #fff;
  background-color: #00b5c3;
}
@media only screen and (max-width: 480px) {
  .notfound {
    text-align: center;
  }
  .notfound .notfound-404 {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
  }
}
